body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to top, #0f0c29, #302b63, #24243e);
}

#game-container {
  width: 400px;
  height: 600px;
  margin: auto;
  background-color: #222;
  position: relative;
  overflow: hidden;
  border: 5px solid white;
  box-shadow: 0 0 20px #0ff;
}

#player {
  width: 30px;
  height: 30px;
  background-color: lime;
  position: absolute;
  bottom: 100px;
  left: 185px;
  border-radius: 50%;
  z-index: 10;
}

