body {
  margin: 0;
  overflow: hidden;
  background: #cbeef3;
  font-family: sans-serif;
}

#gameArea {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #eaffd0;
}

#player {
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: #ff5050;
  border-radius: 10px;
}

.obstacle {
  position: absolute;
  bottom: 100px;
  width: 50px;
  height: 50px;
  background-color: #5e5e5e;
  right: -60px;
  animation: moveLeft 3s linear forwards;
}

@keyframes moveLeft {
  from {
    right: -60px;
  }
  to {
    right: 100vw;
  }
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
}

#backButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  display: none;
}
